hr {
  margin: 0;
  padding: 0;
  opacity: 100%;
}

.loading {
  width: 100%;
  text-align: center;
  margin: 5rem auto;
}

.loading-portfolio-preview {
  color: #fff;
}

.disclaimer {
  width: 100%;
  padding: 1rem 5rem;
  text-align: center;
  background-color: #c5c5c5;
}

.disclaimer h3 {
  font-size: 1rem;
}

.Nav {
  text-transform: uppercase;
  font-family: "Playfair Display", serif, Arial, Helvetica;
  font-size: 24px;
  position: relative;
}

.Nav .container-fluid .logo img {
  height: 32px;
}

.Nav .container-fluid .navbar-collapse .navbar-nav .active {
  text-decoration: underline;
  color: #000;
}

@media (min-width: 992px) {
  .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  color: #000;
}

.hero {
  position: relative;
  margin-bottom: 15rem;
}

.hero-text {
  height: 100%;
}

.title h1 {
  text-transform: uppercase;
}

.title .heading {
  font-size: 4rem;
}

.title .subheading {
  font-size: 1.6rem;
  text-decoration: underline;
}

.title .lead {
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: normal;
}

.call-to-action {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.call-to-action a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.call-to-action a span {
  margin-left: 1rem;
  font-size: 2rem;
}

.call-to-action a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.call-to-action a:hover:after {
  width: 100%;
  left: 0;
}

.hero-img {
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 992px) {
  .call-to-action {
    width: 100%;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .call-to-action a {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .call-to-action {
    width: 100%;
    font-size: 1rem;
  }
  .call-to-action a {
    margin: auto;
  }
}

.ServicesGrid {
  position: relative;
}

.ServicesGrid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ServicesGrid .text-box {
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.7);
}

.ServicesGrid h1 {
  height: auto;
  width: auto;
  text-transform: uppercase;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 100%;
}

.ServicesGrid:hover .text-box {
  opacity: 0%;
}

.ServicesGrid:hover h1 {
  display: none;
}

.ServicesGrid:hover img {
  opacity: 100%;
}

@media (max-width: 768px) {
  .ServicesGrid h1 {
    font-size: 2rem;
  }
}

.HomeContent {
  position: relative;
  margin-top: 5rem;
}

.content-title {
  text-transform: uppercase;
}

.content-title h2 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 1.4rem;
}

.content-description {
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  line-height: 4rem;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .content-description {
    text-align: center;
  }
  .services {
    margin-top: 5rem;
  }
}

.preview {
  margin-top: 7rem;
  padding-top: 3rem;
}

.Portfolio-preview {
  max-width: 1920px;
}

.hexGrid {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%;
}

.hexIn {
  position: absolute;
  width: 90%;
  padding-bottom: 80%;
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 992px) {
  /* <- 3-2  hexagons per row */
  .hexGrid {
    padding-bottom: 7.4%;
  }
  .hex {
    width: 33.333%;
    /* = 100 / 3 */
  }
  .hex:nth-child(5n + 4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 991px) {
  /* 1  hexagons per row */
  .hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 100%;
  }
}

.HomeEnd {
  max-width: 1920px;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
  padding: 10rem;
  color: #fff;
}

.home-content {
  z-index: 1;
}

.home-end-text h1 {
  text-transform: uppercase;
}

.home-end-text p {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  line-height: 2.6rem;
}

@media (max-width: 992px) {
  .HomeEnd {
    text-align: center;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .quote-btn {
    margin-top: 5rem;
  }
}

.home {
  margin-top: 10rem;
  position: relative;
}

.DesignElement {
  z-index: -1;
  position: absolute;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.DesignElement h1 {
  font-size: 15rem;
}

.DesignElement.craftsmanship {
  bottom: 5%;
  left: -5%;
  opacity: 3%;
}

.DesignElement.craftsmanship.about {
  z-index: 1;
  left: 0;
  color: #fff;
}

.DesignElement.quality {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  opacity: 3%;
  text-align: end;
}

.QuoteButton {
  line-height: 1.2rem;
  margin: auto;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.QuoteButton-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.QuoteButton a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.QuoteButton h2 {
  font-size: 1.2rem;
}

.QuoteButton i {
  font-size: 1.2rem;
}

.QuoteButton hr {
  color: #fff;
  margin: 0;
  padding: 0;
}

.About {
  color: #fff;
  padding-bottom: 3rem;
  min-height: 95vh;
}

.about-title {
  padding: 2rem 0;
}

.about-content-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content-inner-headline {
  padding-bottom: 3rem;
}

.about-content-inner-description {
  padding: 2rem 0;
  font-size: 1.2rem;
  line-height: 3rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.about-content-inner .quote-btn {
  margin-top: 10rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 200px;
}

.background {
  padding: 10rem 5rem;
}

.background p {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-size: 1.2rem;
  line-height: 3rem;
}

.contact-address {
  margin-top: 10rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-address h1, .contact-address h2 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.contact-address #map {
  margin: auto;
  width: 100%;
  height: 60vh;
}

.contact-address .address, .contact-address .contact-email-phone {
  margin-top: 3rem;
}

.contact-address .address h1, .contact-address .contact-email-phone h1 {
  text-decoration: underline;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.contact-address .address h2, .contact-address .contact-email-phone h2 {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.Post-inner {
  margin-top: 5rem;
}

.post-cover {
  max-width: 900px;
  margin: auto;
}

.post-cover img {
  -o-object-fit: cover;
     object-fit: cover;
}

.post-content {
  margin: 5rem;
}

.post-content .post-header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.post-content .post-header .back-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.post-content .post-header .back-btn a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  color: #000;
}

.post-content .post-body {
  max-width: 900px;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.post-content .post-body h1 {
  padding-bottom: 2rem;
  font-family: "Playfair Display", serif, Arial, Helvetica;
  text-decoration: underline;
}

.post-content .post-body h2 {
  padding-bottom: 1rem;
}

.post-content .post-body h3 {
  padding-bottom: 1rem;
}

.post-content .post-body p {
  padding-bottom: 1rem;
}

.post-content .post-body .post-body-image {
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .post-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.blog-title {
  padding: 2rem 0;
  margin-bottom: 3rem;
}

/** Pinned Posts **/
.pinned-post-card {
  height: 100%;
  min-width: 280px;
}

.pinned-post-card img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pinned-post-card .PinnedPost-title {
  font-family: "Playfair Display", serif, Arial, Helvetica;
  text-transform: uppercase;
}

.pinned-post-card .PinnedPost-title h1 {
  font-size: 1.8rem;
}

.pinned-post-card .PinnedPost-content {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.pinned-post-card .PinnedPost-content h1 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-family: "Playfair Display", serif, Arial, Helvetica;
}

.pinned-post-card a {
  color: #000;
  text-decoration: none;
}

/** Regular Posts **/
.blog-posts a {
  text-decoration: none;
  color: #000;
}

.blog-posts .blog-card-container {
  margin-bottom: 2rem;
}

.blog-posts .blog-post-card {
  min-width: 280px;
  height: 100%;
  position: relative;
}

.blog-posts .blog-post-card .post-img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-posts .blog-post-card .blog-post-content {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-title {
  text-transform: uppercase;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-title h1 {
  font-size: 1.8rem;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-desc {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-desc h1 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-family: "Playfair Display", serif, Arial, Helvetica;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-details {
  margin: auto;
  width: 92%;
  position: absolute;
  bottom: 0;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-details .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-details .learn-more p {
  text-transform: uppercase;
  padding-right: 2rem;
}

.blog-posts .blog-post-card .blog-post-content .blog-post-details .learn-more i {
  padding-top: 4px;
}

.posts-separator {
  margin: 2rem 0;
  opacity: 70%;
}

@media (max-width: 1200px) {
  .PinnedPost-img img {
    height: 250px;
  }
}

@media (max-width: 992px) {
  .pinned-card-container {
    margin-bottom: 2rem;
  }
}

.PortfolioPost .portfolio-title {
  position: relative;
  margin: 2rem 0;
}

.PortfolioPost .portfolio-title h1 {
  text-align: center;
  text-transform: uppercase;
}

.PortfolioPost .portfolio-title .back-btn {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
}

.PortfolioPost .portfolio-title .back-btn a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
}

.PortfolioPost .portfolio-description {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  text-align: center;
}

.PortfolioPost .portfolio-images .portfolio-img {
  margin-bottom: 3rem;
}

.PortfolioPost .portfolio-images .portfolio-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Portfolio-inner-title {
  padding: 2rem 0;
}

.Portfolio-inner-content {
  margin-top: 5rem;
}

.PortfolioItem {
  margin: auto;
  margin-bottom: 4rem;
  width: 80%;
}

.PortfolioItem a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.PortfolioItem a h1 {
  font-size: 1.5rem;
}

.PortfolioItem a .PortfolioItem-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Portfolio {
  padding-bottom: 5rem;
}

@media (max-width: 992px) {
  .PortfolioItem {
    width: 100%;
  }
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
}

.question h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.question h2.errors {
  font-size: 1rem;
  color: #d1345b;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  padding-bottom: 0.5rem;
}

.question .radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.question .radio-wrapper {
  width: 100%;
  margin: 0.25rem;
}

.question .radio-wrapper .radio {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  color: #000;
  background-color: #fff;
  margin: auto;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
}

.question .radio-wrapper:hover input ~ .radio {
  background-color: #ccc;
}

.question .radio-wrapper input:checked ~ .radio {
  background-color: #353535;
  color: #fff;
  border: 1px solid #fff;
}

.question textarea {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 1rem;
}

.question .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question .contact-info label {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  margin-bottom: 0.6rem;
}

.question .contact-info input {
  padding: 1rem;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  line-height: 1.4rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .radios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ContactPage {
  background-color: #000;
  color: #fff;
  padding-bottom: 5rem;
}

.ContactPage .contact-title {
  padding: 2rem 0;
}

.ContactPage .contact-content {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactPage .contact-content .contact-subheading {
  padding: 2rem;
  text-align: center;
}

.ContactPage .contact-content .contact-subheading h1 {
  text-decoration: underline;
  margin-bottom: 2rem;
}

.ContactPage .contact-content .contact-subheading p {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-size: 1.2rem;
}

.ContactPage .contact-content .contact-form-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactPage .contact-content .contact-form-container .submit-button {
  margin-left: auto;
  margin-top: 3rem;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.ContactPage .contact-content .contact-form-container .submit-button .btn-submit {
  font-family: "Playfair Display", serif, Arial, Helvetica;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ContactPage .contact-content .contact-form-container .submit-button .btn-submit h1 {
  font-size: 1.4rem;
  padding-right: 8rem;
}

.ContactPage .contact-content .contact-form-container .submit-button .btn-submit i {
  font-size: 1.4rem;
}

body {
  background-color: #fff;
  font-family: "Playfair Display", serif, Arial, Helvetica;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/** Change body color to change document color for safari **/
.dark-bg {
  background-color: #000;
}
/*# sourceMappingURL=styles.css.map */