.Post-inner {
  margin-top: 5rem;
}
.post-cover {
  max-width: 900px;
  margin: auto;
  img {
    object-fit: cover;
  }
}
.post-content {
  margin: 5rem;

  .post-header {
    position: relative;
    text-align: center;
    text-transform: uppercase;

    .back-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      a {
        text-decoration: none;
        font-family: $secondary-font;
        color: $primary-color;
      }
    }
  }

  .post-body {
    max-width: 900px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $secondary-font;
    h1 {
      padding-bottom: 2rem;
      font-family: $primary-font;
      text-decoration: underline;
    }

    h2 {
      padding-bottom: 1rem;
    }

    h3 {
      padding-bottom: 1rem;
    }

    p {
      padding-bottom: 1rem;
    }
    .post-body-image {
      width: 100%;
      margin: auto;
    }
  }
}

@media (max-width: 768px) {
  .post-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}