.PortfolioPost {
  .portfolio-title {
    position: relative;
    margin: 2rem 0;
    h1 {
      text-align: center;
      text-transform: uppercase;
    }
    .back-btn {
      position: absolute;
      text-transform: uppercase;
      bottom: 0;
      a {
        text-decoration: none;
        color: $primary-color;
        font-family: $secondary-font;
      }
    }
  }

  .portfolio-description {
    font-family: $secondary-font;
    text-align: center;
  }
  .portfolio-images {
    .portfolio-img {
      img {
        width: 100%;
        object-fit: cover;
      }
      margin-bottom: 3rem;
    }
  }
}
