@import 'servicesgrid';

.HomeContent {
  position: relative;
  margin-top: 5rem;
}
.content-title {
  text-transform: uppercase;

  h2 {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.content-description {
  margin-top: 5rem;
  font-family: $secondary-font;
  line-height: 4rem;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .content-description {
    text-align: center;
  }
  .services {
    margin-top: 5rem;
  }
}